<header id="header">
    <div class="content">
      <div id="logo">
        SSkumatov.co
      </div>
      <nav id="nav"></nav>
    </div>
</header>

<div id="slide1">
  <div class="content">
    <h2>DENVER</h2>
    <h3>Mile High City</h3>
  </div>
</div>

<div id="slide2">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">There is a step on the State Capitol Building that is exactly 5,280 feet (1,609 meters)  above sea level. In Denver's rarified air, golf balls go 10 percent farther. So do cocktails. Alcoholic drinks pack more of a wallop than at sea level. The sun feels warmer in the thinner atmosphere, but your coffee is cooler because water boils at 202 degrees (94 degrees Celsius). </h3>
      <%#= image_tag("Denver_01.jpg", align: "left") %>
      <h4 class="name-dark">Facts about Denver</h4>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb-light">Denver boasts the 10th largest downtown in America and one of the most exciting and walkable. Within a mile radius, downtown Denver has three major sports stadiums, the nation's second-largest performing arts center, three colleges with 30,000 students, an assortment of art and history museums, a mint that produces 10 billion coins a year, a river offering white water rafting, more than 8,400 hotel rooms, a $140 million theme and water park, a $100 million aquarium and 300 restaurants.</h3>
      <%#= image_tag("Denver_02.jpg", align: "left") %>
      <h4 class="name-dark">Facts about Denver</h4>
    </div>
  </div>
</div>

<!--<div id="slide4">-->
<!--  <div class="content">-->
<!--    <div class="blurb-container">-->
<!--      <h3 class="blurb">Third text about Denver go here</h3>-->
      <%#= image_tag("Denver_03.jpg", align: "left") %>
<!--      <h4 class="name-dark">Denver at night, Picture 3</h4>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<div id="slidePricing">
  <div class="content">
    <div class="blurb-container">
<!--      <h3 class="blurb">PRICING</h3>-->
      <%#= image_tag("Denver_03.jpg", align: "left") %>
      <h4 class="name-dark"></h4>
    </div>

    <h1>More Facts</h1>

    <div class="panel-container"></div>
      <div class="panel">
        <h4 class="price-type">It's easy being "green" in Denver</h4>
        <p>Denver facts</p>
        <span class="price">From global warming and renewable energy to environmental cleanup, Denver is emerging as a model for sustainable cities. The Denver Zoo's Toyota Elephant Passage will use a biomass gasification system, which can turn human trash and animal waste into energy to power the exhibit. Denver International Airport (DEN) completed its 2-megawatt solar power system in 2008, a 1.6-megawatt array in 2010 and a 4.4-megawatt solar power system in 2011. In 2006, former Denver Mayor (now Colorado governor) John Hickenlooper announced The Mile High Million, an ambitious tree-planting program with a goal of adding one million new trees in metropolitan Denver by the year 2025. As of early 2016, more than 2.2 million new trees have been planted.
</span>
      </div>
    <div class="panel">
      <h4 class="price-type">Denver's history is short but colorful</h4>
      <p>Denver facts</p>
      <span class="price">In 1858, there was not a single person living in the Denver metro area. Thirty years later, Colorado was a state with a population of almost 200,000. It was a Gold Rush that caused this boom, and in a 30-year period, Denver saw some of the wildest events in the Wild, Wild West. This fascinating period is relived in museums, old gold mining villages and hundreds of elegant Victorian buildings.</span>
    </div>
    <div class="panel">
      <h4 class="price-type">Denver is farm-fresh</h4>
      <p>Denver facts</p>
      <span class="price">Whether you're enjoying a night out on the town at one of Larimer Square's independently owned fine dining spots or digging into the offerings from one of the city's many gourmet food trucks, you can count on fresh, local ingredients. The city's beer world is booming, too, with new craft breweries opening up every month, along with several distilleries and wineries, too! </span>
    </div>
  </div>
</div>